<!-- шаблон главной страницы, вставляется в `base.html` -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<main role="main"><br><br>
	<div class="container">
	<span style="font-size: 30px; color: #A9A9A9;"><i class="far fa-id-badge"></i></span>&nbsp;&nbsp;
  	<font size='+3' color="#9fa8da "><b>Наши контакты</b></font></h2>
	<hr size="2" width="400" color="#7986cb" align="left">
		<hr size="2" width="200" color="#7986cb" align="left"><br>
  <div class="row black-text">
            <div class="col s4">
                <center><img src="../media/Контакты1.png" height="70" width="70">
                <h4>Позвоните нам</h4><br>Есть вопросы? Мы поможем!<br><br><br><b>+7 495 777-777-5</b> для Перми<br><b>+7 800 200 777-5</b> для регионов</center>
            </div>
            <div class="col s4">
				<center><img src="../media/Контакты2.png" height="70" width="70">
                <h4>Напишите нам</h4><br>Идеи? Предложения?<br>Мы открыты для любых вопросов!<br><br><br>Написать на <b>24@LOGO.ru</b></center>
            </div>
            <div class="col s4">
                <center><img src="../media/Контакты3.png" height="70" width="70">
                <h4>Обратная связь</h4><br>Поделитесь мнением о нашей<br>работе и помогите нас стать лучше!<br><br><br>Позвоните на <b>+7 800 225-777-7</b></center>
            </div>
		</div><br><br><br>
		<div class="parallax-container">
			<div class="parallax"><center><img src="../media/man.jpg" ></center></div>
		</div><br><br>
		<font color="black">
			<div class="container">
				<b><h4>Реквизиты</h4></b><br>
				<div class="row">
					<div class="col s2">
						<b>Название организации:<br><br>
						ИНН/КПП:<br><br>
						ОГРН:<br><br>
						Юридический адрес:<br><br>
						Телефон:<br><br>
						Банковские реквизиты</b>
					</div>
					<div class="col s10">
						ООО GRAFIT<br><br>
						312200440688 / -<br><br>
						304312223200019<br><br>
						309850,Пермская обл.,г. Пермь, ул. Карпинского, д.29<br><br>
						+7 (951) 76-69-003<br><br>
						р/с 40802810507130001004 в БЕЛГОРОДСКОЕ ОТДЕЛЕНИЕ N8592 ПАО СБЕРБАНК, к/с 30101810100000000633, БИК 041403633
					</div>
				</div>
			</div>
			<hr>
			<div class="container">
				<b><h4>Наши лучшие сотрудники</h4></b><br>
				<div class="col s12 m8 offset-m2 l6 offset-l3">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="row valign-wrapper">
							<div class="col s2">
								<center><img src="../media/man1.jpg" width="112" height="92" class="circle"></center>
							</div>
							<div class="col s10">
								<span class="black-text">
									<b>Агатипов Артем Алексеевич</b><br>
									<i>Продавец</i><br>
									+7 (951) 76-69-003<br>
									alekseevka@yulsun.ru
								</span>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="col s12 m8 offset-m2 l6 offset-l3">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="row valign-wrapper">
							<div class="col s2">
								<center><img src="../media/man2.jpg" width="142" height="92" class="circle"> </center>
							</div>
							<div class="col s10">
								<span class="black-text">
									<b>Красильников Кирилл Жукович</b><br>
									<i>Мастер - консультант</i><br>
									+7 (982) 95-56-933<br>
									bobr228@mail.ru
								</span>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="col s12 m8 offset-m2 l6 offset-l3">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="row valign-wrapper">
							<div class="col s2">
								<center><img src="../media/man3.jpg" width="92" height="92" class="circle"> </center>
							</div>
							<div class="col s10">
								<span class="black-text">
									<b>Романов Андрей Вечеславович</b><br>
									<i>Продавец</i><br>
									+7 (973) 90-40-953<br>
									nashenshen@google.com
								</span>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="col s12 m8 offset-m2 l6 offset-l3">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="row valign-wrapper">
							<div class="col s2">
								<center><img src="../media/man4.jpg" width="102" height="92" class="circle"></center>
							</div>
							<div class="col s10">
								<span class="black-text">
									<b>Анкушин Юрий Александрович</b><br>
									<i>Мастер - консультант</i><br>
									+7 (991) 64-78-920<br>
									nkushin@mail.ru
								</span>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="col s12 m8 offset-m2 l6 offset-l3">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="row valign-wrapper">
							<div class="col s2">
								<center><img src="../media/man5.jpg" width="112" height="82" class="circle"> </center>
							</div>
							<div class="col s10">
								<span class="black-text">
									<b>Плетнев Дмитрий Жилиновских</b><br>
									<i>Продавец</i><br>
									+7 (910) 37-56-309<br>
									fistin322@google.com
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</font>
		<br>

</main>
{% endblock %}